body{
    background-color: rgb(103, 192, 233);
}
table, tr, th, td{
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.naranja{
    background-color: rgb(223, 106, 28);
}

.verde{
    background-color: rgb(25, 211, 50);
}

