body{
    background-color: lightgray;
}

.contenedor{
    display: flex;
    height: 600px;
    border: 3px solid purple;
    justify-content: space-evenly; 
    /*center;*/
    align-items: flex-start;
    flex-wrap: wrap;
}

.caja{
    width: 300px;
    height: 300px;
    border: 1px;
}

.rojo{
    background-color: red;
}
.azul{
    background-color: blue;
    /* align-self: flex-end; */
}
.verde{
    background-color: green;
    /* align-self: center; */
}
.amarillo{
    background-color: yellow;
}